.footer__bg {
  position: relative;
}

.footer__bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/assets/footer/footerbg.png");
  opacity: 30% !important;
  background-size: cover;
  background-position: center;
  mix-blend-mode: multiply;
}

.footer-bottom-bg {
  background: linear-gradient(90deg, #062524 0%, #188b89 100%);
}
