.PermitsandRegulations-banner {
    position: relative;
    z-index: -1;
  }
  
  .PermitsandRegulations-banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/assets/projects/images/PermitsandRegulations.png");
    background-size: cover;
    background-position: center;
    mix-blend-mode: multiply;
  }
  
  .PermitsandRegulations-content {
    position: relative;
    z-index: 1;
  }
  