@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply text-dark;
}
body {
  background-color: #f5f8fa;
  overflow-x: hidden !important;
}
footer * {
  @apply text-white;
}

.container {
  @apply max-w-screen-5xl px-3 md:px-5 lg:px-10 xl:px-20 2xl:px-28 3xl:px-40 4xl:px-52 5xl:px-[285px] mx-auto;
}

.full__section_r_p {
  @apply max-w-screen-5xl pr-3 md:pr-8 lg:pr-24 xl:pr-28 2xl:pr-32 3xl:pr-40 4xl:pr-52 5xl:pr-[285px] mx-auto;
}

.full__section_l_p {
  @apply max-w-screen-5xl pl-3 md:pl-8 lg:pl-24 xl:pl-28 2xl:pl-32 3xl:pl-40 4xl:pl-52 5xl:pl-[285px] mx-auto;
}

a {
  @apply text-primary underline-offset-2 hover:underline decoration-primary-700;
}
.bar {
  @apply h-[2px] w-40 bg-primary;
}
.btn {
  @apply tracking-wider py-3 px-6 text-white font-medium text-lg bg-primary hover:bg-primary-600 active:bg-primary-700 duration-150;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }
  h1 {
    @apply text-5xl;
  }
  h2 {
    @apply text-4xl;
  }
  h3 {
    @apply text-3xl;
  }
  h4 {
    @apply text-2xl;
  }
  h5 {
    @apply text-xl;
  }
  h6 {
    @apply text-lg;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  padding: 0 2px;
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 100px;
  /* background: #888; */
  @apply bg-secondary;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /* background: #555; */
  @apply bg-primary;
}

/* My Utility classes */
.text-18px {
  font-size: 18px;
}

/* Big screen size Media Query */
@media screen and (min-width: 1400px) {
  .custom-container {
    width: 100%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1600px) {
  .custom-container {
    width: 100%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1921px) {
  .custom-container {
    width: 1920px;
    margin: 0 auto;
  }
}

@layer components {
  /*
  FOOTER CLASSES
  */

  .footer-link {
    @apply flex gap-2 mb-2 text-lg;
  }
}

img {
  @apply select-none;
}
