@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply text-dark;
}
body {
  background-color: #f5f8fa;
}
footer * {
  @apply text-white;
}

.container {
  @apply max-w-7xl mx-auto px-2;
}
a {
  @apply text-primary underline-offset-2 hover:underline decoration-primary-700;
}
.bar {
  @apply h-[2px] w-40 bg-primary;
}
.btn {
  @apply tracking-wider py-3 px-6 text-white font-medium text-lg bg-primary hover:bg-primary-600 active:bg-primary-700 duration-150;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }
  h1 {
    @apply text-5xl;
  }
  h2 {
    @apply text-4xl;
  }
  h3 {
    @apply text-3xl;
  }
  h4 {
    @apply text-2xl;
  }
  h5 {
    @apply text-xl;
  }
  h6 {
    @apply text-lg;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  padding: 0 2px;
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
