.our__service__box {
  background: rgba(24, 139, 137, 0.1);
}

.service__card {
  border-radius: 9px;
  background: #fff;
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.25);
}

.service__card h5 {
  color: #292929;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.service__card p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.service__card__btn {
  width: 184px;
  height: 42px;
  border-radius: 8px;
  background: #049e43;
}

.service__card img {
  @apply  w-full;
}
