/* Hero section */
.hero__section__fiberglass {
  height: auto;
  background-image: url("/assets/fiberglass/banner-small.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-right {
  width: 50%;
}

.hero-right .hero-main-image {
  width: 100%;
  object-fit: cover;
}

.btn__bannerFiberglass {
  border-radius: 50px;
  background: #049e43;
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 800px) {
  .hero-section {
    background-image: url("/assets/fiberglass/banner-small.png");
  }
}
